  body { font-family: Monospace;
         overflow-x: hidden; 
         width: 100%;}
@media(max-width: 768px) { body {
      background-color: white; 
      height: 800px;
      width: 100%;
      overflow-x: hidden;
      margin-left: 0px;}}
header { background-color: green;
        height: 80px;
        color: gold;
        width: 100%;}
    @media(max-width: 768px) { header { background-color: green;
             color: gold;
             height: 100px;
             width: 360px;
             position: relative;
             bottom: 10px;}}
  .logo { position: relative;
          top: -60px;}
    @media(max-width: 768px){ .logo { position: relative;
      top: -45px; left: -10px;}}
      
h2 { position: relative;
    left: 100px; top: 20px;}
           
  @media(max-width: 768px) { h2 { 
        font-size: 15px;
        position: relative;
        top: 5px; left: 80px;
        font-family: Monospace;
  }}
.slogan { position: relative;
          right: -1300px; top: -160px;}
          
@media(max-width: 768px) { .slogan { 
             font-size: 15px;
             position: relative;
             right: 0px; top: -70px;
             font-family: Monospace;
}}
  
@media(max-width: 768px) { .icon { 
          font-size: 30px;
          color: gold;
          position: relative;
          right: -320px; top: -100px;
          transition: opacity 0.5 ease;
}}
          
.menu { position: relative;
        right: -1010px; top: -70px;
        font-size: 30px;}
@media(max-width: 768px) { .menu {          display: none;
    font-size: 15px;
    color: green;
    flex-direction: column;
    background-color: gold;
    width: 100%;
    position: relative;
    right: 0px; top: -52px;
    border-radius: 10px;
    font-family: Monospace;
    transition: 0.5s ease;
}}
 
 a { text-decoration: none;
     color: gold;
     margin: 5px;}
     
@media(max-width: 768px){ a { text-decoration: none;
    margin: 5px;
    color: green;
  transition: opacity 0.5s ease;}}
  
  .menu.active { display: flex;}
  
  
  .ret { color: green;
         text-align: center;
         position: relative;
         left: -20px; top: -3px;
         transition: opacity 0.5s ease;}
@media (max-width: 768px) { .ret { 
         font-size: 15px;
         position: relative;
         top: 20px; left: 0px;
         color: green;
         transition: opacity 0.5s ease;}}
@media(max-width: 768px) { .sky { 
          position: relative;
          left: -10px;}}
.yip { background-color: gold;
       position: relative;
       top: -130px;}
@media(max-width: 768px) { .yip { 
  position: relative;
  top: -600px; 
  background-color: white;}}
@media(max-width: 768px) { .tuy {
  width: 100%;
  border-radius: 10px;}}
@media(max-width: 768px) { .why { 
          font-size: 30px;
          color: green;
          position: relative;
          left: 14px; bottom: 80px;
          font-family: Monospace;}}
@media(max-width: 768px) { .about {
         width: 320px;
         position: relative;
         left: 16px;}}
@media(max-width: 768px) { .add { 
         height: 50px;
         width: 320px;
         position: relative;
         left: 17px;
         border-style: none;
         background-color: gold;
         border-radius: 5px;
         transition: 0.5s ease;}}
  .add:hover { background-color: lightgray;}
@media(max-width: 768px) { .image2 { border-radius: 10px;
  position: relative;
  top: 20px;
}}
@media(max-width: 768px) { .qwe { 
          font-size: 40px;
          color: green;
          position: relative;
          right: -15px;}}